@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: #f8f9fa;
}

/* Hero Section */
.hero-section {
  background-image: url("https://d2clawv67efefq.cloudfront.net/ccbp-static-website/towerbg.png");
  background-size: cover;
  background-position: center;
  height: 90vh;
}

/* Cards */
.card-title {
  color: #0f0e46;
  font-weight: 700;
  font-size: 1.5rem;
}

.card-text {
  color: #6c6b70;
  font-size: 0.95rem;
}

/* Footer */
footer {
  font-size: 0.9rem;
}
