@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: #f8f9fa;
}

/* Hero Section */
.hero-section {
  background-image: url("https://d2clawv67efefq.cloudfront.net/ccbp-static-website/towerbg.png");
  background-size: cover;
  background-position: center;
  height: 90vh;
  text-shadow: 1px 1px 4px #000;
}

/* Uniform Card Image */
.fixed-img {
  height: 250px;
  object-fit: cover;
}

/* Card Titles */
.card-title {
  font-size: 1.3rem;
  font-weight: bold;
  color: #0f0e46;
}

/* Card Text */
.card-text {
  color: #6c6b70;
  font-size: 0.95rem;
}
